{% extends 'blog/base.html' %} 
{% block title %} User Profile {% endblock title %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <div class="card-header">
          <h1 class="mb-0 text-center">My Profile</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              src="https://cdn.pixabay.com/photo/2014/04/02/14/11/male-306408__340.png"
              alt="Profile Pic"
              class="rounded-circle"
              width="150"
            />
            <div class="mt-3">
              <h4>Ishfaq</h4>
              <p class="text-secondary mb-1">Ishfaq@gmail.com</p>
            </div>
          </div>
          <hr>
          <h5 class="text-center">Experience</h5>
          <ul class="list-unstyled text-secondary">
            <li>ABC Company - Senior Software Engineer (2018-Present)</li><hr>
            <li>ABC Company - Senior Software Engineer (2018-Present)</li><hr>
            <li>XYZ Corporation - Software Engineer (2015-2018)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9 mb-4">
      <div class="card" style="box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h5>About Me</h5>
              <p class="text-secondary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                sodales tellus et quam eleifend, at pellentesque leo lobortis.
                Sed nec ligula enim. Nunc laoreet luctus purus sed lacinia.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Fusce ornare, mauris ut rhoncus
                vestibulum, odio tellus faucibus elit, eu venenatis urna risus
                in tellus. Sed eu quam vel mi aliquam imperdiet nec quis mauris.
                Nulla facilisi. Suspendisse potenti. In hac habitasse platea
                dictumst.
              </p>
              <p class="text-secondary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                sodales tellus et quam eleifend, at pellentesque leo lobortis.
                Sed nec ligula enim. Nunc laoreet luctus purus sed lacinia.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Fusce ornare, mauris ut rhoncus
                vestibulum, odio tellus faucibus elit, eu venenatis urna risus
                in tellus. Sed eu quam vel mi aliquam imperdiet nec quis mauris.
                Nulla facilisi. Suspendisse potenti. In hac habitasse platea
                dictumst.
              </p>
            </div>
            <div class="col-md-6">
              <h5>Details</h5>
              <div class="row">
                <div class="col-md-6">
                  <p class="text-secondary">
                    <i class="fa fa-user"></i> Gender: Male
                  </p>
                  <p class="text-secondary">
                    <i class="fa fa-birthday-cake"></i> Birthday: Jan 1, 1990
                  </p>
                  <p class="text-secondary">
                    <i class="fa fa-globe"></i> Country: United States
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="text-secondary">
                    <i class="fa fa-phone"></i> Phone: +1 123 456 7890
                  </p>
                  <p class="text-secondary">
                    <i class="fa fa-envelope"></i> Email: Ishfaq@gmail.com
                  </p>
                  <p class="text-secondary">
                    <i class="fa fa-link"></i> Website:
                    <a href="#">www.example.com</a>
                  </p>
                </div>
              </div>
              <a href={% url 'edit_profile' %} class="btn btn-primary mt-3">Update Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
